<div class="maintenancePopupContent">
    <div class="maintenancePopupTitle">
      
      <span class="popupTitleTextFirst">차량관리 &nbsp;<span class="popupTitleTextSecond">정비내역</span></span>
      
      <div class="X-close" onclick="closeMaintenancePopup()">
        <div class="line line1"></div>
        <div class="line line2"></div>
      </div>

    </div>
    <hr>
    <div class="popupSection">

      <div class="maintenanceSalary">
        <span>정비금액</span>
        <div class="salaryBox">
          <div class="articleBox">
            <span>정비금액</span>
            <div class="articleBoxSalary">
              <span>35,000,000</span>
            </div>
          </div>

          <div class="articleBox">
            <span>튜닝금액</span>
            <div class="articleBoxSalary">
              <span>35,000,000</span>
            </div>
          </div>
        </div>
      </div>

      <div class="maintenanceDetails">
        <span>정비내역</span>

        <div class="maintenanceFilter">
          <input type="month">
          <select name="maintenanceType">
            <option value="inspection">점검</option>
            <option value="maintenance">정비</option>
            <option value="tuning">튜닝</option>
          </select>

        </div>
        <div class="scrollableTable ">
          <table class="maintenanceDetailTable">
            <thead>
              <tr>
                <td>번호</td>
                <td>구분</td>
                <td>작업날짜</td>
                <td>작업내용</td>
                <td>비용</td>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>정비</td>
                <td>2024-05-15</td>
                <td>유리 교체</td>
                <td>243,000</td>
              </tr>
              <tr>
                <td>1</td>
                <td>정비</td>
                <td>2024-05-15</td>
                <td>유리 교체</td>
                <td>243,000</td>
              </tr>
              <tr>
                <td>1</td>
                <td>정비</td>
                <td>2024-05-15</td>
                <td>유리 교체</td>
                <td>243,000</td>
              </tr>
              
            </tbody>
          </table>
        </div>
      </div>

    </div>
      
</div>